[main]
Description=Murdoch Staff VPN - off campus
Host=vpn.murdoch.edu.au
AuthType=1
GroupName=mu_staff
GroupPwd=
enc_GroupPwd=CAE5A6DED1890F98D4AA565BD69385A695A164A2A071A9E4B1DFE853E8F6E795380FF728A6E1586C1ABC4A8E8F842436
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPCommand=
Username=
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=1
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=1
